## https://github.com/openshift/origin/blob/master/docs/deployments.md
---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: frontend
spec:
  strategy:
    type: Recreate
    resources: {}
  triggers:
  - type: ImageChange
    imageChangeParams:
      automatic: true
      containerNames:
      - helloworld
      from: {}
      lastTriggeredImage: ''
  replicas: 1
  selector:
    name: frontend
  template:
    metadata:
      creationTimestamp: 
      labels:
        name: frontend
    spec:
      containers:
      - name: helloworld
        image: openshift/openshift/origin-ruby-sample
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: "/dev/termination-log"
        imagePullPolicy: IfNotPresent
        capabilities: {}
        securityContext:
          capabilities: {}
          privileged: false
      restartPolicy: Always
      dnsPolicy: ClusterFirst
